* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Darker tone for body */
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.3rem;
}

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mt-3, my-3 {
    text-align: center;
}

.container {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 330px;
    max-width: 95%; /* Ensure it respects smaller screens */
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question, .answers, h1, h2, p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; /* Some space below each element */
}

input, button {
    display: block;
    margin: 10px auto;
}

button {
    align-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.card img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

